{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, veniam blanditiis eveniet totam numquam enim ut atque, magnam maxime est aliquam! Non sequi modi, recusandae, in, nam maxime laborum dolorem unde quisquam doloremque qui? Voluptatem, exercitationem tenetur? Molestias a officia sed corrupti dolorem, placeat quam aspernatur atque nam! Iure dolores neque error ipsam nulla, odio velit culpa quo impedit commodi sint numquam. Facere ullam quas voluptatum consequuntur nostrum corrupti, ipsum qui corporis provident rerum quaerat consequatur nisi deleniti labore voluptatem.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'signin' %}">Iniciar Sesion</a>
            <a class="btn btn-dark" href="{% url 'signup' %}">Registrarse</a>
        </div>


    </section>
    
</main>
{% endblock %}